* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  margin: 0 auto;
  max-width: 100%;
  font-family: "Helvetica", "Arial", sans-serif;
  color: #464242;
}

p {
  font-weight: normal;
  font-size: 1.118em;
  color: #464242;
  text-decoration: none;
}

figcaption {
  font-style: italic;
}
.max-height {
  height: 100%;
}
.clear-float {
  clear: both;
}
.align-left {
  float: left;
}
.align-right {
  float: right
}
.no-bold {
  font-weight: normal;
}

.no-wrap {
  white-space: nowrap
}

.full-width-img {
  width: 100%;
}

.text-align-center {
  text-align: center;
}
.img {
  margin: 0;
  /*opacity: 0.5;*/
  color: #1f232e;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Nav */
.navbar_logo {
  justify-content: right !important;
  position: absolute;
  right: 0px;
  padding: 10px;
  height: 20%;
  float: right;
}
.logobar {
  display: flex;
  position: absolute;
  top: 30px;
  right: 30px;
  justify-content: center;
}
.logo {
  max-height: 60px;
  float: right;
  padding: 10% 10%;
}
.logo:hover {
  opacity: 0.5;
}

/* Main Page */
#intro .img {
  background: url("img/snowymountain.jpg") center center/cover no-repeat fixed;
}
.main_intro {
  padding: 10% 10%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: space-around;
  max-width: 100%;
  margin: 0 auto
}
.main_hello{
  font-size: 2.5rem;
}
.main_desc {
  font-size: 2.5rem;
}
.main_img {
  max-height: 100%;
}
/* About Page */
#skills_desc p{
  padding-top: 40px;
  font-size: 20px;
  color: #000000;
}
#skills_icons img{
  height:95px;
  filter: grayscale(100%);
  padding: 10px;
}
#skills_icons img:hover {
  opacity: 0.5;
}
.skillsimg {
  height: 50%;
}
.myportrait {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:50%;
  /*filter: grayscale(100%);*/
}
.myportrait img.desaturate {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);

}
.about_desc .resume {
  font-size: 20px;
  text-shadow: none;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  background-color: #333;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
  inset 0 -2px 6px rgba(0, 0, 0, 0.4);
}
.about_desc .resume:hover{
  background-color: #888888;
}
#about .img {
  left:0%;
  background: url("img/snowymountaindarkbot.jpg") center center/cover no-repeat fixed;
}
#about .p{
  justify: center !important;
}

#about .container-fluid{
  height: 100vh;
}
/* Portfolio */
#portfolio .container-fluid > .img{
  left:0;
  background: url("img/portfolio_mountain.jpg") center center/cover no-repeat fixed;
}
#portfolio .li {
  margin-left: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#portfolio .listback {
  background-color: rgba(255, 255, 255, .5);
  padding: 10px;
  box-shadow: -8px 8px 5px rgba(1, 1, 1, 0.57);
}
#portfolio .header {
  font-size: 32px;
}
.myportfolio{
  list-style-type: none;
  margin-top: 20%;
  font-size: 24px;
  text-decoration: none !important;
  color: #000000;
  padding-left: 0;
}
.portTempBackground {
  height: 50vh;
  width: 40vw;
  overflow: hidden;
  box-shadow: -8px 8px 5px rgba(1, 1, 1, 0.57);
}

/* Maze Game Page */
#mazegamepage {
  color: #000000;
  background: url("img/forestsnow.jpg")  center center/cover no-repeat fixed;
  width: 100%;
}
/* Physics Simulator Page */
#physicssimpage {
  color: #000000;
  background: url("img/rivermountain.jpg") center center/cover no-repeat fixed;
  width: 100%;
}
/* Autonomous Drone Page */
/* Planet Polluter */
#PlanetPolluterPage {
  color: #000000;
  background: url("img/snowhills.jpg")  center center/cover no-repeat fixed;
  width: 100%;
}
#autonomousdronepage {
  color: #000000;
  background: url("img/snowroad.jpg") center center/cover no-repeat fixed;
  width: 100%;
}
.white_outline {
  text-shadow:
          -1px -1px 0 #ffffff,
          1px -1px 0 #ffffff,
          -1px 1px 0 #ffffff,
          1px 1px 0 #ffffff;
}
.white_outline p{
  text-shadow: none;
}
.whiteback {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  box-shadow: -8px 8px 5px rgba(1, 1, 1, 0.57);
}
.meter {
  height: 20px;
  width: 80%;
  left: 10%;
  position: relative;
  background: #555;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}
.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #ffffff;
  background-image: linear-gradient(to bottom, #ffffff, #000000);
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
  inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}
.red > span {
  background-color: #f0a3a3;
  background-image: linear-gradient(to bottom, #f0a3a3, #f42323);
}

/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  font-size: 18px;
  z-index:9999;
  top:0px;
  width:100vw;
}

/* Navbar links */
#navbar > a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}
#navbar .dropbtn > a{
  display: block;
  float:left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}
#navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #999999;
}
.dropdown-content {
  display: none;
  float:none;
  background-color: #333;
  position: fixed;
  z-index: 9999;
}
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: inherit;
  border: none;
  outline: none;
  color: #333;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown-content a {
  padding: 10px;
  float:none;
  color: white;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #999999;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.topRow {
  padding-top: 40px;
}
#aboutme_mobile{
  display:none !important;
}
#SKILLS {
 display:block !important; 
}

@media screen and (max-width: 575px) {
  #about .container-fluid{height:100%;}
}

@media screen and (max-width: 575px) {
  #aboutme_mobile{display:block;}
  #aboutme{display:none;}
  #SKILLS{display:none;}
  .logobar{display:none;}
  .portTempBackground{display:none;}
  .myportrait{display:none;}
  #code_physsim{display:none;}
  #code_mazegame{display: none;}
}
