@import url(font-awesome.min.css);

.devicon-override-fontawesome:before {
    font-family: devicon !important;
}

.website-override-fontawesome:before {
    font-family: website !important;
}

.bm-list {
    padding: 3em;
    margin: 0 !important;
}

@media screen and (max-width: 736px) {
    #code_physsim {
        display: none;
    }
}

.main-section-header {
    padding-top: 20px;
    background-color: rgba(0, 0, 0, 0.0);
    text-align: center;
    text-decoration: underline overline;
    font-size: 24px;
}

#main-projects-img {
    margin-top: auto;
    margin-bottom: auto;
}

/* My styles for web page*/
.wrapper.style4 .icon.major:before {
    background-color: #00b3b5;
}
.wrapper.style4 {
    background-color: #00b3b5;
}

.wrapper.style5 .icon.major:before {
    background-color: #01a69a;
}
.wrapper.style5 {
    background-color: #01a69a;
}
.wrapper.style6 .icon.major:before {
    background-color: #7236b5;
}
.wrapper.style6 {
    background-color: #7236b5;
}


@media screen and (max-width: 980px) {
    #main-projects-img {
        display: none;
    }
}


/*Navigation bar at top of screen*/
.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    /*float: left;*/
    display: block;
    color: #f2f2f2;
    text-align: center;
    /*padding: 14px 16px;*/
    text-decoration: none;
    font-size: 17px;
}

.topnav > .active {
    background-color: #4CAF50;
    color: white;
}

.topnav .icon {
    display: none;
}

.dropdown {
    /*float: left;*/
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    /*padding: 14px 16px;*/
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block !important;
    text-align: left;
}

/*.topnav a:hover, .dropdown:hover .dropbtn {*/
/*    background-color: #555;*/
/*    color: white;*/
/*}*/

.dropdown-content a:hover {
    background-color: #ddd;
    color: black !important;
}

.dropdown:hover .dropdown-content {
    display: block !important;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}
